*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* background-color: aqua; */

}
/* Shared Style */
header {
  background: url(../images/developer.png), url(../images/header_bg.png),#FFF8F3;
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  padding-top: 50px;
}

.btn {
  background-color: #FD6E0A;
  border: none;
  padding: 18.28px 35px 19.3px 36px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  cursor: pointer;
}


/* Individual Style */
nav {
  width: 71%;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid green; */
  margin: 0px auto;
  align-items: center;

}



.logo-title {
  font-size: 45px;
  font-weight: 800;
}
#logo-title-char-color{
  color: #FD6E0A;
}

.menu{
  display: flex;
  list-style-type: none;
  gap: 30px;
  align-items: center;
}
.sub-menu{
  width: 170px;
  display: flex;
  justify-content: space-between;
}
.sub-menu-link {
  font-size: 20px;
  color: #474747;
  text-decoration: none;
}



.banner {
  display: flex;
  justify-content: space-between;
  margin: 46px 38px 0px 220px;
  /* border: 1px solid red; */
  align-items: center;
}

.banner-content {
  max-width: 585px;
}
.banner-content h2 {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 5px;
}
.banner-content h1 {
  font-size: 85px;
  font-weight: 700;
  margin-bottom: 20px;
}
.banner-content p {
  font-size: 18px;
  font-weight: 400;
  color: #757575;
  line-height: 30px;
  margin-bottom: 30px;
}
.banner-image {
  max-width: 585px;
  vertical-align: middle;
}


.about {
  padding-top: 130px;
}
.about-container {
  background-color: #FFF8F3;
  width: 71%;
  max-width: 1140px;
  margin: 0px auto;
  padding: 131px 150px;
  
}
.about-content {
  text-align: center;
}
.section-heading {
  margin-bottom: 30px;
}
.section-heading h2 {
  font-size: 35px;
  font-weight: 700;
  color: #181818;
  /* text-align: center; */
  margin-bottom: 30px;
}
.section-heading p {
  font-size: 18px;
  color: #757575;
  line-height: 30px;
  /* text-align: center; */
}
.about-info {
  display: flex;
  justify-content: space-around;
  /* gap: 50px;
  margin: 0px 22px; */

}
.info-card p {
  font-size: 20px;
  line-height: 30px;
  color: #757575;
  /* text-align: center; */
}

.info-card h4 {
  font-size: 20px;
  font-weight: 700;
  color: #474747;
  line-height: 30px;
  
}
/* .menu li {
  list-style: none;

} */